@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Sarala&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #c9bfa7 16.62%, #b18075d2 85.61%), url(https://i.pinimg.com/originals/8d/43/f0/8d43f0f8947d8ad3142407cc72d4713e.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
    ;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 14px;

}

.cabecalho-imagem{
    width: 82px;
    height: 52px;
    border-radius: 6px;
    
}

.cabecalho-menu{
    display: flex;
    gap: 32px;

}



.cabecalho-menu-item {
   font-family: 'Cormorant Upright', sans-serif; 
   color: #FFF2EF;
   font-weight: 400;
   font-size: 18px;
   cursor: pointer;
   transform: 2ms ease-in;
   position: relative;
}

.cabecalho-menu-item:before{
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: #442c18;
    transition: all 1.5s ease;
}

.cabecalho-menu-item:hover:before{
    width: 100%;

}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo{
    font-family: 'Cormorant Upright', serif;
    font-weight: 400;
    font-size: 64px;
    color: #442c18;

}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Cormorant Upright', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #442c18;
}

.conteudo-principal-botao {
    background-color:  transparent;
    color: #FFF2EF;
    width: 120px;
    height: 40px;
    border: 1px solid #FFF2EF;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'sarala', serif;
    font-weight: 400;
    font-size: 19px; 
    position: relative;
    transition: 0.4s;

}
.conteudo-principal-botao:before {
    content: ' ';
    bottom: 0;
    border-radius: 10px;
    left: 0;
    position: absolute;
    width: 0;
    height: 40px;
    background-color:#49C858 ;
    z-index: -1;
    transition: 1s;
    color: #442c18;
}

.conteudo-principal-escrito-botao{
    color: #442c18 ; 
}


.conteudo-principal-botao:hover:before {
    width: 100%;
}

.conteudo-principal-imagem {
    width: 274px; height: 263px; top: 194px; left: 1242px;
    border-radius: 15px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #442c18 ;
    padding-top: 48px;
    font-family: 'Cormorant Upright', serif ;
    font-weight: 400;
    font-size: 24px;
    color: #442c18;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo {
    font-family:'Cormorant Upright', serif ;
    font-weight: 300;
    font-size: 18px;
    color: #442c18;
}

.rodape {
    padding-top: 32px;
    border-top: #442c18;
}

.rodape-imagem {
    
    display: block;
    margin: 0 auto;
    width: 300px; height: 60px; top: 856px; left: 689px;
}